<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      My calendars
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-selection-list #calendarList>
    <mat-list-option after *ngFor="let calendar of calendars" color="primary">
      {{calendar.name}}
    </mat-list-option>
  </mat-selection-list>
  <mat-action-row>
    <button mat-icon-button color="primary" (click)="onAddCalendar()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-action-row>
</mat-expansion-panel>